{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block head_extra %}
<style>
    .qr-code {
        height: 10rem;
    }
</style>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-sm-12 text-center">
        {% if object.profile_qr_code %}
            <img class="qr-code" src="{{ object.profile_qr_code.url }}">
        {% endif %}
        <div class="btn-wrapper mb-3">
            <a href="{% url 'register' %}" class="btn btn-primary mt-4">
              Register
            </a>
          </div>
    </div>
</div>
{% endblock %}